<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    <title>LapTop</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sản Phẩm", "Index", "Home")</li>
                    <li>@Html.ActionLink("Về Chúng Tôi", "About", "Home")</li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>@Html.Partial("~/Views/GioHang/GioHangPartial.cshtml")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Đăng Ký", "DangKy", "NguoiDung")</li>
                    <li>@Html.ActionLink("Đăng Nhập", "DangNhap", "NguoiDung")</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div class="footer" style="background-color: #5cc6ee; flex-wrap: wrap">
        <div class="container">
            <div class="row" style=" display: flex; flex-wrap: nowrap;">
                <div class="footer-col-1" style="margin-top: 0.5cm; width: 30%; height: 30%">
                    <h3 font-size: 20px;>CỬA HÀNG LAPTOP</h3>
                    <p style="font-size:15px; color: black">
                        Địa chỉ: 617 Đường 3 tháng 2,<br>
                        Phường 8, Quận 10, TP. Hồ Chí Minh
                        <br>Hotline: 0903 344 188<br>
                    </p>
                    <h3 font-size: 20px;>THỜI GIAN LÀM VIỆC</h3>
                    <p style="font-size: 15px; color: black">
                        *Thứ 2 – Chủ Nhật ( 8:30 – 21:00 )
                    </p>
                </div>
                <div class="footer-col-2" style=" margin-top: 0.5cm; text-align: left; width: 30%; height: 30%">
                    <div class="foot-1">
                        <h3 font-size: 20px;>HỖ TRỢ - DỊCH VỤ</h3>
                    </div>
                    <p style="font-size: 15px; color: black">
                        *Trả góp

                        <br><br>*Đổi trả

                        <br><br>*Sửa chữa - nâng cấp

                        <br><br>*Bảo dưỡng - chăm sóc máy tính

                    </p>
                </div>
                <div class="footer-col-3" style=" margin-top: 0.5cm; text-align: left; width: 30%; height: 30%">
                    <h3 font-size: 20px;>DỊCH VỤ GIAO HÀNG</h3>
                    <div class="app-logo" style=" width: 100%; height: 40% ">
                        <img src="~/Content/images/Logo1.png" alt="" style="width: 190px; height: 35%; margin-bottom: 0.2cm; ">
                        <img src="~/Content/images/Logo2.png" alt="" style="width: 190px; height: 35%; margin-bottom: 0.2cm;  ">
                    </div>
                </div>
                <div class="footer-col-4" style=" margin-top: 0.5cm; text-align: left; width: 30%; height: 30%">
                    <div class="foot-1">
                        <h3 font-size: 20px;>KẾT NỐI VỚI CHÚNG TÔI</h3>
                    </div>
                    <div class="app-logo-kn" style=" width: 100%; height: 40%;">
                        <img src="~/Content/images/Logo5.png" alt="" style="width: 84px; height: 35%; margin-left: 20px; ">
                        <img src="~/Content/images/Logo4.png" alt="" style="width: 73px; margin-left: 60px; height: 35%; ">
                        <img src="~/Content/images/Logo3.png" alt="" style="width: 234px; height: 35%; display: block; margin-left: 25px; ">

                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>


</body>
</html>
