@model WebLapTop.Models.LapTop

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa Sản Phẩm</h2>

<h3>Bạn có chắc chắn muốn xóa trang web này ko ?</h3>
<div>
    @*<h4>LapTop</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Mã Loại: </label>
            @*@Html.DisplayNameFor(model => model.MaLoaiLT)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoaiLT)
        </dd>

        <dt>
            <label>Tên LapTop: </label>
            @*@Html.DisplayNameFor(model => model.TenLapTop)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLapTop)
        </dd>

        <dt>
            <label>Hình: </label>
            @*@Html.DisplayNameFor(model => model.Hinh)*@
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Hinh)" width="200px" />
        </dd>

        <dt>
            <label>Gía Bán: </label>
            @*@Html.DisplayNameFor(model => model.GiaBan)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            <label>Ngày Cập Nhập: </label>
            @*@Html.DisplayNameFor(model => model.NgayCapNhap)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhap)
        </dd>

        <dt>
            <label>Số Lượng Tồn: </label>
            @*@Html.DisplayNameFor(model => model.SoLuongTon)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            <label>Mã Chíp: </label>
            @*@Html.DisplayNameFor(model => model.MaChip)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaChip)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ListLapTop", "LapTop")
        </div>
    }
</div>
