@model WebLapTop.Models.LapTop

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết LapTop</h2>

<div>
    @*<h4>LapTop</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.MaLoaiLT)*@
            <label>Mã Loại: </label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoaiLT)
        </dd>

        <dt>
            <label>Tên LapTop: </label>
            @*@Html.DisplayNameFor(model => model.TenLapTop)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLapTop)
        </dd>

        <dt>
            <label>Hình: </label>
            @*@Html.DisplayNameFor(model => model.Hinh)*@
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.Hinh)" width="200px" />
        </dd>

        <dt>
            <label>Gía Bán: </label>
            @*@Html.DisplayNameFor(model => model.GiaBan)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            <label>Ngày Cập Nhập: </label>
            @*@Html.DisplayNameFor(model => model.NgayCapNhap)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhap)
        </dd>

        <dt>
            <label>Số Lượng Tồn: </label>
            @*@Html.DisplayNameFor(model => model.SoLuongTon)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            <label>Mã Chíp: </label>
            @*@Html.DisplayNameFor(model => model.MaChip)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaChip)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.MaLapTop }) |*@
    @Html.ActionLink("Quay về trang chủ", "Index", "Home")
</p>
